body {
  text-align: center;
}

h2 {
  font-family: Tahoma, Geneva, sans-serif;
}

p {
  font-size: 18px;
}

form {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: italic;
}

.num {
  padding: 10px;
  margin: 3px;
  font-size: 14px;
  width: 300px;
}

.btn-guess {
  padding: 10px;
  margin-top: 4px;
  background: #A8F9FB;
  font-style: bold;
  font-size: 20px;
  border: 0px;
}

.btn-bottom {
  padding: 10px;
  font-size: 14px;
  border: 2px solid #cccccc;
  background-color: white;
}